/* mixins */

@mixin border ($b-width, $b-color) {
	border: $b-width solid $b-color;
}

@mixin btn-color ($btn-color) {
	background-color: $btn-color;
	border: 1px solid darken($btn-color, 20%);
	&:hover,
	&:focus {
		background-color: darken($btn-color, 10%);
	}
}

@mixin alert-color ($alert-color) {
	background-color: lighten($alert-color, 40%);
	border: 1px solid $alert-color;
	color: $alert-color;
}
